$border-color: blue;
$background-color: #0095ff8f;

.event {
  background-color: $background-color;
  border-left: solid 5px $border-color;
  position: absolute;

  &__title {
    width: 100%;
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
