.event {
  background-color: #ef00ff73;
  border-left: solid 5px #ef00ff;
  position: absolute;

  &__title {
    width: 100%;
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
